/*Desktop*/
	@media screen and (min-width: 768px) {
		.nav-link:hover::after {
			content: '';
			display: block;
			border-bottom: 3px solid #198ad3;
			margin: auto;
			margin-bottom: -3px;
		}
		.active::after {
			content: '';
			display: block;
			border-bottom: 3px solid #198ad3;
			margin: auto;
			margin-bottom: -3px;
		}
	}


/*Semua*/
body {
	margin: auto;
	height: 100vh;
}
.profile img{
	width: 130px;
	border: 8px solid #cccccc;
	text-align: center;
	z-index: 6;
}
.profile {
	padding-top: 40px;
}
.navbar {
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10px);
}
.nav-link {
	padding-bottom: 5px;
	transition: 0.25s;
	color: white;
}
.nav-link:hover {
	transform: translateY(-5px);
	transition: 0.25s;
	color: white;
}
.input,.modal-content{
	background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
	backdrop-filter: blur(10px);
	border-radius: 12.5px;
}
.modal {
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(10px);
}
.form-control, .alert{
	background: rgba(255, 255, 255, 0.75);
	border-radius: 10px;
}
.formlogin {
	background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
	backdrop-filter: blur(10px);
	border-radius: 12.5px;
}
.identitas p{
	text-align: center;
	padding: 0;
	margin: 0;
}
.darigoogle {
		width: 100%;
		height: 56vh;
		border-radius: 12.5px;
		opacity: 85%;
	}
.menubar {
		text-align: center;
}
.tmenu {
		width: 45px;
		height: 45px;
		border-radius: 12px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		background-color: white;
		border: none;
		transition: 0.25s;
}
.tmenu:hover {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
		transform: translateY(-5px);
		transition: 0.25s;
}
.icon {
		text-align: center;
}
.tombol {
	border-radius: 12.5px;
}
.btn-ultimate{
    background: rgba(0, 0, 0, 0.4);
    color: white;
}
.bg-loader {
		background-color: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(10px);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bg-loader p {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #0E89A2;
	}
	.bg-loader .kotak {
		background-color: rgba(255, 255, 255, 0.75);
		padding: 20px;
		border-radius: 25px;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	}
	.bg-loader .loader {
		width: 120px;
		height: 120px;
		border: 4px solid rgba(255, 255, 255, 0);
		border-radius: 50%;
		border-top-color: #3382E2;
		border-bottom-color: #3382E2;
		animation: muter .8s linear infinite;
	} 
	@keyframes muter {
		100% {
			transform: rotate(360deg);
		}
	}

/*Mobile*/
	@media screen and (max-width: 768px) {
		.container {
			width: 85%;
		}
		.content .container{
			width: 92%;
		}
	}
/*akhir mobile